{% extends 'base.html' %}
{% block title %}Register - DSM Times{% endblock %}
{% block content %}
    <section class="max-w-4xl mx-auto px-4 sm:px-0">
        <h1 class="text-2xl sm:text-3xl font-bold mb-6 text-gray-900 dark:text-white">Register</h1>
        <form method="post" class="bg-white dark:bg-gray-800 p-4 sm:p-6 rounded-lg shadow-lg">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-blue-600 text-white py-2 px-6 rounded hover:bg-blue-700 transition">Register</button>
        </form>
    </section>
{% endblock %}